.home-name {
	color: #444;
	font-size: 1.4rem;
	font-weight: bolder;
}
.home-form a {
	text-decoration: none;
	color: white;
}

.home-form {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.home-header {
	width: 25%;
	margin: auto;
}

.home-link {
	padding: 0.4rem;
	background-color: #687e0d;
	border-radius: 0.5rem;
	margin: 0.5rem auto;
	width: 13rem;
}

.sub {
	border-radius: 1.9rem;
	background-color: white;
	width: 12rem;
	margin-top: 16.5rem;
	padding: 1.5rem;
}

@media (max-width: 760px) {
	.home-header {
		width: 100%;
	}
}
