.error {
	padding-bottom: 8rem;
}
.error p {
	font-size: 1.5rem;
	font-weight: bolder;
	margin-left: 3rem;
	color: #444444;
	text-align: center;
}

.error-link a {
	text-decoration: none;
	color: white;
}
.error-link {
	margin: 4rem auto;
	width: 15rem;
	text-align: center;
	padding: 0.5rem;
	background-color: #687e0d;
	border-radius: 0.5rem;
}
