.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}
.wealth-name {
	color: #444444;
}
.header h1 {
	margin: 5rem 0% 0 20rem;
}

.logo {
	margin-top: 3%;
	transition: 0.4s;
	margin-left: 30%;
}

@keyframes logo {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo infinite 40s linear;
	}
}
