.table-search {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: -5rem;
}

.table-search-2 {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 2.5rem;
	background-color: #879d2c;
	color: black;
	padding: 0.5rem;
	border-radius: 0.7rem;
	margin-right: 3%;
}
.table-search input {
	width: 8rem;
	margin-left: 1rem;
	padding-left: 0.2rem;
	border-radius: 0.2rem;
	background-color: rgb(206, 206, 128);
	font-size: 1rem;
}
.table-search label {
	padding: 0.5rem;
	margin: auto 0;
}

.table-foot {
	width: 97%;
	display: flex;
	justify-content: space-between;
	color: black;
}
.table-foot-p {
	margin-left: 3rem;
	font-weight: bold;
}

.Tab {
	position: relative;
	margin-top: 10rem;
}
.table-entry-1 {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 2.5rem;
	background-color: #879d2c;
	color: black;
	padding: 0.5rem;
	border-radius: 0.7rem;
	margin-left: 3%;
}
.table-entry-1 select {
	padding: 0.5rem;
	margin: auto 1rem;
	background-color: rgb(206, 206, 128);
	font-size: 1rem;
	font-weight: bolder;
	border-radius: 0.5rem;
}
.table-entry-1 label,
.table-entry-1 span {
	padding: 0.5rem;
	margin: auto 0;
}
.page {
	display: flex;
	flex-direction: row;
}
.pagination {
	display: flex;
	justify-content: flex-end;
}
.pagination p {
	font-weight: bold;
}

.numb {
	background-color: #879d2c;
	border-radius: 10%;
	color: black;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.numb-active {
	background: #879d2c;
}
.numb-disabled {
	display: none;
}
