.table-main {
	table-layout: fixed;
	width: 95%;
	border-collapse: collapse;
	border: 0.5rem inset #879d2c;
	margin: 1rem auto;
	text-align: center;
}
.table-title {
	width: 20rem;
	margin: 1rem auto;
	text-align: center;
	background-color: #d5db99;
	border: 0.5rem inset #d5db99;
	color: #444;
	font-size: 1.4rem;
	font-weight: bolder;
}

th,
td {
	color: black;
	padding: 0.3rem;
	font-size: 0.9rem;
}

table tbody tr:nth-child(odd) {
	background-color: #e0e1d5;
	border-bottom: solid 0.05rem #989996;
}
table tbody tr:nth-child(even) {
	background-color: #daddc8;
	border-bottom: solid 0.05rem #989996;
}

table tbody tr:hover {
	background-color: #879d2c;
}

.no-data {
	font-size: 1.2rem;
	font-weight: bold;
}

.downactive:after {
	content: " \2B07";
	display: inline-block;
	font-size: 1.2rem;
}

.upactive:after {
	content: "\2B06";
	display: inline-block;
	font-size: 1.2rem;
}
