.table_main {
	table-layout: fixed;
	width: 95%;
	border-collapse: collapse;
	border: 0.5rem inset #687e0d;
	margin: 1rem auto;
	text-align: center;
}
.table-title {
	width: 20rem;
	margin: 1rem auto;
	text-align: center;
	background-color: #d5db99;
	border: 0.5rem inset #d5db99;
	color: #444;
	font-size: 1.4rem;
	font-weight: bolder;
}
